.image-display{
display: flex;
justify-content: center;
align-items: center;
overflow-x: hidden;
}
.image-container {
  position: relative;
  width: 80%;
  
}
.image-container> img {
width: 90%;
object-fit: cover;
}
.text-overlay {
  position: absolute;
  top: 40%;
  left: 40%;
}
